@media only screen and (min-width: 64rem) {

    #allplaces {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
    }

    #allplaces div p.description {
        margin: 0;
    }

     #allplaces div p.cost {
        margin: 0;
    }

    #allplaces div address {
        margin: 0;
    }

}

