:root {
    --background: #f8f5f2;
    --headline: #232323;
    --paragraph: #222525;
    --button: #078080;
    --button-hover: #005a5a;
    --main: #fffffe;
    --secondary: #f45d48;
    /* https://www.happyhues.co/palettes/8 */
}


* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

/* HEADER */
header {
    background: var(--background);
    color: var(--headline);
    display: grid;
    grid-template-columns: 50px auto 44px 44px;
    align-items: center;
    padding: 10px 0 10px 10px;
    column-gap: 8px;
}

.chamber {
    font-size: 1.5rem;
    display: block;
}

header p {
    margin: 0;
    font-size: .8rem;
}

.page-controls {
    display: flex;
    justify-self: end;
    column-gap: 8px;
}

/* HAMBURGER */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border-width: 0;
    padding: 0;
}

.hamburger {
    background: none;
    border: none;
    color: var(--headline);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.dark-light {
    background: none;
    border: none;
    cursor: pointer;
}

.dark-light::before {
    content: "\25d0";
    font-size: 2.5rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2.5rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/* NAVIGATION */
.larger-screen-navigation {
    display: none;
}

.navigation {
    display: none;
    background-color: var(--button);
    color: var(--main);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;
    border-bottom: 2px solid var(--paragraph);
}

.navigation a:hover {
    background-color: var(--button-hover);
}

.navigation li.current {
    background-color: var(--button-hover);
}


