:root {
    --very-dark-indigo: #0f0e17;
    --off-white: #fffffe;
    --cool-gray: #a7a9be;
    /* --vivid-orange: #ff8906; */
    --coral-red: #f25f4c;
    --coral-red-contrast: #c24934;
    /* --vibrant-magenta: #e53170; */

    --color-mygrey-00: lab(100% 0 0);
    --color-mygrey-05: lab(95% 0 0);
    --color-mygrey-10: lab(90% 0 0);
    --color-mygrey-20: lab(80% 0 0);
    --color-mygrey-30: lab(70% 0 0);
    --color-mygrey-40: lab(60% 0 0);
    --color-mygrey-50: lab(50% 0 0);
    --color-mygrey-60: lab(40% 0 0);
    --color-mygrey-70: lab(30% 0 0);
    --color-mygrey-80: lab(20% 0 0);
    --color-mygrey-90: lab(10% 0 0);
    --color-mygrey-100: lab(0% 0 0);
}

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--very-dark-indigo);
    display: flex;
    flex-direction: column;

    min-height: 100vh;
}

/* HEADER */
header {
    background: var(--very-dark-indigo);
    color: var(--off-white);
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    height: 68px;
    padding: 10px;
    column-gap: 8px;
    position: relative;
}

header .link-logo {
    text-align: center;
}

header .link-logo img {
    /* justify-self: center; */
    width: 70px;
    height: auto;
}

.menu__translation {
    display: flex;
    position: absolute;
    gap: 1rem;
    right: 4rem;
}

.menu-flags {
    width: 44px;
}

.menu-flags img {
    max-width: 100%;
}

/* HAMBURGER */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border-width: 0;
    padding: 0;
}

.hamburger {
    background: none;
    border: none;
    color: var(--coral-red);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.dark-light {
    background: none;
    border: none;
    cursor: pointer;
}

.dark-light::before {
    content: "\25d0";
    font-size: 2.5rem;
}

.hamburger::before {
    content: "\2630";
    font-size: 2.5rem;
}

.hamburger.show::before {
    content: "\00d7";
}

/* NAVIGATION */
.navigation {
    display: block;
    text-align: end;
}

.navigation-menu {
    display: none;
}

.navigation.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 100vh;
    background: var(--very-dark-indigo);
    box-shadow: 0 10px 10px var(--coral-red);
    z-index: 999;
}

.navigation.show .hamburger {
    align-self: end;
    margin-right: 1rem;
}

.navigation.show .navigation-menu {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    color: var(--coral-red);
    text-decoration: none;
    display: block;
    padding: 1rem;
    /* border-bottom: 2px solid var(--coral-red); */
}

.navigation a:hover {
    color: var(--coral-red);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--coral-red);
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

.navigation li.current {
    color: var(--coral-red);
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: var(--coral-red);
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

/* INDEX */

main.index {
    color: var(--coral-red);
    position: relative;
    padding: 10px;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;

    flex-grow: 1;
}

h1 {
    /* text-align: center; */
    color: var(--coral-red);
}

main.index p {
    text-align: center;
}

.personality {
    margin-top: 3rem;
}

.myName {
    font-size: 2.3rem;
    text-align: center;
}

.myDream {
    font-size: 2rem;
}

.social {
    display: flex;
    justify-content: space-evenly;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--background);
    border-radius: 22px;
    color: var(--background);
}

.social svg {
    width: 40px;
    height: 40px;
}

.social a:hover {
    color: var(--button);
    border: 1px solid var(--button);
}

main.index .aboutme {
    text-align: right;
    margin-top: 1.5rem;
}

.aboutme a {
    text-decoration: none;
    border: 1px solid var(--coral-red);
    padding: .5rem 1rem;
    color: var(--coral-red);
    font-size: 1.5rem;
}

/* PROJECTS */

main.projects {
    color: var(--coral-red);
}

#projects {
    display: grid;
}

.project-card {
    display: grid;
    background: var(--off-white);
    max-width: 298px;
    height: auto;
    margin: 0 auto 1rem;
    text-align: center;
    padding-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.project-card h2, .project-card p {
    margin: .5rem 0;
    padding: 0 10px;
}

.project-card p {
    color: var(--very-dark-indigo);
}

.project-card button {
    width: fit-content;
    justify-self: center;
    border: none;
    padding: .5rem 1rem;
    border-radius: 10px;
    background: var(--coral-red-contrast);
    color: var(--off-white);
}

#projectModal {
    position: relative;
    border: 3px solid var(--coral-red);
    border-radius: 10px;
    padding: 1rem;
    background-color: var(--off-white);
    box-shadow: 0 0 15px var(--coral-red);
    max-width: 90%;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.65);
}

.projectModal-header {
    display: grid;
    grid-template-columns: auto 44px;
    column-gap: 1rem;
    align-items: center;
    border-bottom: 1px dashed #555;
    margin-bottom: 1rem;
}

.projectModal-header h2 {
    color: var(--coral-red);
    margin: 0;
    font-size: 1.4rem;
}

.projectModal-header button {
    font-size: 1.6rem;
    /* border: 1px solid #555; */
    border: none;
    background-color: transparent;
    color: var(--very-dark-indigo);
    cursor: pointer;
}

#projectModal-details ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#projectModal-details ul li {
    text-align: center;
}

#projectModal-details ul a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid var(--coral-red);
    color: var(--very-dark-indigo);
    padding: .5rem 1rem;
    background: var(--coral-red);
    border-radius: 10px;
}

/* ABOUT ME PAGE */
main.aboutme {
    padding: 0 10px;
}

main.aboutme p {
    color: var(--off-white);
    line-height: 1.6rem;
}

/* .contact-form {
    background: var(--off-white);
} */

.contact-form h2 {
    color: var(--coral-red);
    text-align: center;
}

.contact-form .field-box {
    display: flex;
    flex-direction: column;
    row-gap: .3rem;
    margin-bottom: .5rem;
}

.contact-form label {
    font-weight: 700;
    color: var(--coral-red);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: .8rem;
    border-radius: 5px;
    border: 1px solid #999;
    font-size: 1rem;
    border-left-width: 5px;
    /* max-width: 300px; */
}

textarea {
    overflow: auto;
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    border: 1px solid var(--coral-red);
    border-left-width: 5px;
}

.contact-form input:required, .contact-form textarea {
    border-left-color: #d70000;
}

.contact-form input:required:valid, .contact-form textarea:valid {
    border-left-color: green;
}

.contact-form .field-submit {
    text-align: center;
}

.contact-form input[type="submit"] {
    border: none;
    /* text-align: center; */
    font-size: 1.2rem;
    margin: 1rem 0;
    background: var(--coral-red-contrast);
    color: var(--off-white);
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

/* THANKYOU PAGE */

.thankyou {
    padding: 0 1rem;
}

.thankyou p {
    color: var(--off-white);
}

#results {
    border: 1px solid var(--coral-red);
    padding: 0 1rem;
    color: var(--off-white);
}

footer {
    padding: 1rem 10px;
    color: var(--coral-red);
    text-align: center;
}

footer a {
    color: var(--coral-red);
    text-decoration: none;
}
